{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Testimonial Start -->
<div class="container-fluid testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="position-relative text-primary" style="padding-left: 8%;">High quality services for you</h1>
    <div class="container-fluid py-5 px-lg-5">
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded  p-4">
                <div
                    style="width: 80px; height: 80px; border-radius: 50%; background-color: white; display: flex; justify-content: center; align-items: center;">
                    <i class="	fa fa-user-md" style="font-size: 40px; color:black"></i>
                </div>
                <h4>Neutrition Counsiling</h4>
                <p>
                    Get one-on-one expert guidance for a healthier you. We'll help you reach your goals with
                    personalized nutrition advice and practical strategies.
                </p>
                <a href="https://htmlcodex.com/startup-company-website-template"
                    class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-1 text-center">Know More</a>

            </div>
            <div class="testimonial-item bg-transparent border rounded  p-4">
                <div
                    style="width: 80px; height: 80px; border-radius: 50%; background-color: white; display: flex; justify-content: center; align-items: center;">
                    <i class="	fa fa-user-md" style="font-size: 40px; color:black"></i>
                </div>
                <h4>Neutrition Counsiling</h4>
                <p>
                    Get one-on-one expert guidance for a healthier you. We'll help you reach your goals with
                    personalized nutrition advice and practical strategies.
                </p>
                <a href="https://htmlcodex.com/startup-company-website-template"
                    class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-1 text-center">Know More</a>

            </div>
            <div class="testimonial-item bg-transparent border rounded  p-4">
                <div
                    style="width: 80px; height: 80px; border-radius: 50%; background-color: white; display: flex; justify-content: center; align-items: center;">
                    <i class="	fa fa-user-md" style="font-size: 40px; color:black"></i>
                </div>
                <h4>Neutrition Counsiling</h4>
                <p>
                    Get one-on-one expert guidance for a healthier you. We'll help you reach your goals with
                    personalized nutrition advice and practical strategies.
                </p>
                <a href="https://htmlcodex.com/startup-company-website-template"
                    class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-1 text-center">Know More</a>

            </div>
            <div class="testimonial-item bg-transparent border rounded  p-4">
                <div
                    style="width: 80px; height: 80px; border-radius: 50%; background-color: white; display: flex; justify-content: center; align-items: center;">
                    <i class="	fa fa-user-md" style="font-size: 40px; color:black"></i>
                </div>
                <h4>Neutrition Counsiling</h4>
                <p>
                    Get one-on-one expert guidance for a healthier you. We'll help you reach your goals with
                    personalized nutrition advice and practical strategies.
                </p>
                <a href="https://htmlcodex.com/startup-company-website-template"
                    class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-1 text-center">Know More</a>

            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container-fluid px-lg-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="section-title position-relative mb-4 pb-2">
                    <h1 class="position-relative text-primary ps-1">About Our Nutrition Center</h1>
                    <h2 class="mt-2">Your Path to Healthier Living</h2>
                </div>
                <p class="mb-4">At our nutrition center, we are dedicated to helping you achieve your health and
                    wellness goals through the transformative power of nutrition. With a team of experienced and
                    compassionate professionals, we offer personalized nutrition plans and guidance tailored to
                    your unique needs and lifestyle. <br>

                    Our approach is rooted in evidence-based practices, ensuring that you receive the highest
                    quality care and advice. We believe that a healthy diet is the foundation of a fulfilling
                    life, and we're committed to helping you make informed choices that will enhance your
                    overall well-being. Join us on a journey towards better health, and let's work together to
                    make nutrition work. you.
                </p>
                <!-- <div class="row g-3">
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Award Winning</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Professional Staff</h6>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
                                <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Fair Prices</h6>
                            </div>
                        </div> -->
                <div class="d-flex align-items-center mt-4">
                    <a class="btn btn-light text-primary rounded-pill py-2 px-xl-5 ms-1" href=""
                        style="border-color: #3167d9;">Read More</a>
                    <a class="btn btn-secondary text-light rounded-pill py-2 px-xl-5 ms-1" href="">Make an
                        appointment</a>
                    <!-- <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a> -->
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/doctorsmiling.jpg' %}">
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Testimonial Start -->
<div class="container-fluid bg-primary testimonial py-5 my-5 wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="position-relative text-primary ps-1">Testimonials from our patients</h1>
    <div class="container-fluid py-5 px-lg-5">
        <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-1.jpg' %}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-2.jpg' %}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-3.jpg' %}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded text-white p-4">
                <i class="fa fa-quote-left fa-2x mb-3"></i>
                <p>Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore
                    diam</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/testimonial-4.jpg' %}"
                        style="width: 50px; height: 50px;">
                    <div class="ps-3">
                        <h6 class="text-white mb-1">Client Name</h6>
                        <small>Profession</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<!-- Team Start -->
<div class="container-fluid py-5 position-relative">
    <h1 class="position-relative text-primary ps-1 mb-5">Contact us for more information</h1>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.120205328523!2d90.37189267600203!3d23.778733487686864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0b3340c1c91%3A0xfec009b60808d80a!2sICT%20Tower!5e0!3m2!1sen!2sbd!4v1711033851815!5m2!1sen!2sbd"
                    style="border:0; width: 100%;height: 450px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mt-md-4 position-absolute top-0 start-50 translate-right" style="padding-top: 8%;">
            <div class="card bg-primary" style="border-radius: 10%;">
                <div class="card-body" style=" height: 450px; border-radius: 10%;">
                    <h5 class="card-title text-center">How can I help you?</h5>
                    <form>
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
                        </div>
                        <!-- <div class="mb-3">
                                    <label for="inputPhone" class="form-label">Phone Number</label>
                                    <input type="tel" class="form-control" id="inputPhone" placeholder="Enter your phone number">
                                </div> -->
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Message</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter your description">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary text-light">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Team End -->





<div class="card-group">
    <div class="card" style="border: 0cm;">

        <div class="card-body d-flex align-items-center">
            <div
                style="width: 80px; height: 80px; border-radius: 50%; background-color: #3167d9; display: flex; justify-content: center; align-items: center;">
                <i class="fas fa-map-marker-alt" style="font-size: 40px; color: white;"></i>
            </div>
            <div class="ms-3">
                <p class="card-text" style="font-size: 20px;color: #3167d9;">Location</p>
            </div>
        </div>
    </div>

    <div class="card" style="border: 0cm;">

        <div class="card-body d-flex align-items-center">
            <div
                style="width: 80px; height: 80px; border-radius: 50%; background-color: #3167d9; display: flex; justify-content: center; align-items: center;">
                <i class="fas fa-clock" style="font-size: 40px; color: white;"></i>
            </div>
            <div class="ms-3">
                <p class="card-text" style="font-size: 15px;color: #3167d9;">Sun - Thu : 9:30 – 19:30 <br>
                    Sat : 9:30 – 13:30</p>
            </div>
        </div>
    </div>

    <div class="card" style="border: 0cm;">

        <div class="card-body d-flex align-items-center">
            <div
                style="width: 80px; height: 80px; border-radius: 50%; background-color: #3167d9; display: flex; justify-content: center; align-items: center;">
                <i class="fa fa-envelope" style="font-size: 40px; color: white;"></i>
            </div>
            <div class="ms-3">
                <p class="card-text" style="font-size: 20px;color: #3167d9;">doctor@gmail.com</p>
            </div>
        </div>
    </div>



    <div class="card" style="border: 0cm;">

        <div class="card-body d-flex align-items-center">
            <div
                style="width: 80px; height: 80px; border-radius: 50%; background-color: #3167d9; display: flex; justify-content: center; align-items: center;">
                <i class="fas fa-phone" style="font-size: 40px; color: white;"></i>
            </div>
            <div class="ms-3">
                <p class="card-text" style="font-size: 20px;color: #3167d9;">+880 <br> 1753861142</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}