{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Payment Start -->
<div class="fadeIn text-dark" style="display: flex; justify-content: center; align-items: center; height: 40%; padding-top: 15%; padding-bottom: 5%;">
    <div style="width: 50%; padding-top: 0%; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        <h2 class="text-center">Payment Method</h2>

        <h2 class="text-center">Payment Via Bkash</h2>
        <div class="form-group pt-2">
            <label for="phone_number">Phone Number <span style="color: red;">*</span></label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
           
        </div>
        <div class="form-group pt-2">
            <label for="transaction_id">Transaction ID</label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
        </div>
        <div class="form-group pt-2">
            <label for="transaction_id">Transaction ID</label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
        </div>
        <h2 class="text-center">Payment Via Nagad</h2>
        <div class="form-group pt-2">
            <label for="phone_number">Phone Number <span style="color: red;">*</span></label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
           
        </div>
        <div class="form-group pt-2">
            <label for="transaction_id">Transaction ID</label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
        </div>
        <div class="form-group pt-2">
            <label for="transaction_id">Transaction ID</label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
        </div>
        <h2 class="text-center">Payment Via Rocket</h2>
        <div class="form-group pt-2">
            <label for="phone_number">Phone Number <span style="color: red;">*</span></label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
           
        </div>
        <div class="form-group pt-2">
            <label for="transaction_id">Transaction ID</label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
        </div>
        <div class="form-group pt-2">
            <label for="transaction_id">Transaction ID</label>
            <p>Enter transaction ID: <strong>Your Transaction ID Here</strong></p>
        </div>
    </div>
</div>
<!-- Payment End -->

{% endblock %}
