{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center py-lg-5 align-items-center">
    <div class="mx-auto" style="padding-top: 7%;">
        <div class="d-flex align-items-center">
            <img src="{{ service.logo.url }}" style="width: 100px; height: 100px;" class="img-fluid flex-shrink-0 rounded-circle">
            <div class="ps-3">
                <h6 class="text-dark mb-1">{{ service.name }}</h6>
                <!-- <small>{{ testimonial.Profession }}</small> -->
            </div>
        </div>
    </div>
</div> 



<div class="container py-3 text-dark">
    <p style="text-align:justify;">
        {{ service.description }}
    </p>
</div >

{% endblock %}
